@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: bold;
}

html {
  font-family: "DM Sans", sans-serif;
  font-weight: 500
}

.header-link {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

.header-link:hover {
  color: #166534; /* verde oscuro (Tailwind: green-800) */
  transform: translateY(-2px);
}

.glass-card {
  background-color: rgba(34, 126, 72, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* para Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}