---
import "../styles/global.css";
import Header from "../components/Header"
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>KeikaBonsai</title>
  </head>
  <body class="bg-green-100">
    <Header client:load/>
      <slot />
  </body>
</html>
